body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

p {
    color: rgb(123, 64, 155);
    margin-left: 20px;
    text-shadow: 5px 5px 5 rgb(0,0,0);
    text-shadow: -5px -5px 5 rgb(255, 255, 255);
}